@font-face {
  font-family: abster;
  src: url(../../font/abster-webfont.woff) format('woff');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../images/room.jpg);
  background-size: cover;
}

.container .header{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a{
  text-decoration: none;
  color: white;
  font-family: abster;
}
.container h2{
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: abster;
}

.container .right-upper {
  text-decoration: none;
  color: white;
  font-family: abster;
  font-size: 25px;
}

.container .medium{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  padding: 60px;
  text-align: center;
  font-family: abster;
  color :azure;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.container .medium h2{
  font-size: 60px;
  margin-bottom: 40px;
}

.container .medium p{
  font-size: 22px;
}

.container .medium button{
  background: none;
  border: 2px solid darkseagreen;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}

.document-tailer {
  position: fixed;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: abster;
}

@media (min-width : 1250px) {
  .header {
      padding: 0 50px;
  }
}

#dynamic{
  position: relative;
  display: inline-block;
}

#dynamic::after{
  content:"";
  display: block;
  position: absolute;
  top:0;
  right: -10px;
  width:4px;  
  height: 100%;
  background-color: white;
}

#dynamic.active::after{
  display: none;
}

.submit-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.submit-box h2 {
  font-size: 40px;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: abster;
}

.submit-box .user-box {
  position: relative;
}

.submit-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.submit-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.submit-box .user-box input:focus ~ label,
.submit-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.submit-box form .submit-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.submit-box .submit-btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.submit-box .submit-btn span {
  position: absolute;
  display: block;
}

.submit-box .submit-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }
  50%,100% {
      left: 100%;
  }
}

.submit-box .submit-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }
  50%,100% {
      top: 100%;
  }
}

.submit-box .submit-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }
  50%,100% {
      right: 100%;
  }
}

.submit-box .submit-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }
  50%,100% {
      bottom: 100%;
  }
}
.lcontainer{
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../images/room.jpg);
  background-size: cover;
}

.lcontainer .header{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.lcontainer .header h1 a{
  text-decoration: none;
  color: white;
  font-family: abster;
}
.lcontainer h2{
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: abster;
}
.lcontainer h3{
  position: relative;
  top: 0%;
  bottom: 0;
  left: 12%;
  right: 0;
  width: 100%;
  height: 0%;
  margin: auto;
  font-size: 40px;
  color: white;
  font-family: abster;
  margin-bottom: 50px;
}
.lcontainer h4{
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: abster;
}
.lcontainer .media{
  position: relative;
  top: 20%;
  bottom: 0;
  left: 12%;
  right: 0;
  width: 100%;
  height: 0%;
  margin: auto;
  font-size: 40px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.lcontainer a{
  position: relative;
  top: 20%;
  bottom: 0;
  left: 12%;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
.lcontainer .recommend{
  left: 25%;
  top:40;
  width: 50%;
  height : 40%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.lcontainer .all-recommend{
  left: 25%;
  top:40;
  width: 90%;
  height : 40%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.lcontainer .recommend #contents-form {   
  width: 100%;
  vertical-align: middle;
}
.lcontainer .recommend .contents {   
  width: 100%;
  vertical-align: middle;
}

.lcontainer .recommend .contents img{
  width: 30%;
}
.lcontainer .recommend #contents-form img{
  width: 15%;
}

.lcontainer .recommend #contents-form .submit_btn{
  position: relative;
  left: 80.5%;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 15px;    
}
.lcontainer .document-tailer {
  position: relative;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: abster;
}

.lcontainer .mrecommend{
  left: 10%;
  top:40;
  width: 75%;
  height : 20%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.lcontainer .mrecommend .contents {   
  width: 100%;
  vertical-align: middle;
}

.lcontainer .mrecommend .contents img{
  width: 18%;
}